text-decoration  
/* [ blink || line-through || overline || underline ] | none | inherit 
Добавляет оформление текста в виде его подчеркивания, перечеркивания, линии над текстом и мигания. 
Одновременно можно применить более одного стиля, перечисляя значения через пробел */ 

white-space
/* normal | nowrap | pre | pre-line | pre-wrap | inherit
Свойство white-space устанавливает, как отображать пробелы между словами. 
В обычных условиях любое количество пробелов в коде HTML показывается на веб-странице как один.  */

justify-content:space-between 
/* распределяет собержимое */
justify-content:flex-start;
/* позиционируются в режиме записи */

flex-wrap:wrap ???????????????

overflow
/* Свойство overflow управляет отображением содержания блочного элемента, 
если оно целиком не помещается и выходит за область заданных размеров. */